.DS_Store
local.properties
/.gradle
/client/build
/server/build
/shared/build
/build
/.idea
/stale_outputs_checked
*.iws
*.iml
/kotlin-js-store
/deps
/modules

kproject.lock

**/kestore.jks
/server/keystore.jks
